@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes backgroundFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotateGradient {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.homeContainer {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.homeContainer .nameSection {
  position: relative;
  font-size: 4px;
}

.homeContainer .nameSection h1 {
  font-family: "Clash Display", sans-serif;
  font-size: clamp(87px, 19.8vw, 180em);
  line-height: 0.7;
}

.homeContainer .nameSection p {
  font-size: clamp(5em, 6vw, 23em);
  position: absolute;
  bottom: 0;
  left: 1em;
  font-family: "Pretty Dahlia", sans-serif;
  color: var(--secondary-color);
}

.homeContainer .textSection {
  text-align: center;
  display: grid;
  gap: 10px;
}

.homeContainer .textSection h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--tertiary-color),
    var(--primary-color)
  );
  background-clip: text;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: backgroundFlow 4s infinite;
}

.homeContainer .textSection p {
  font-size: 18px;
  margin: 0 auto;
  width: 80%;
  font-family: "Nunito Sans", sans-serif;
}

.homeContainer .textSection .linkToExperience {
  position: relative;
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: 24px auto;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 6px;
  background-color: black;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.homeContainer .textSection .linkToExperience::after {
  position: absolute;
  border-radius: 8px;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 110%;
  background-image: conic-gradient(
    from var(--angle),
    var(--tertiary-color),
    var(--primary-color),
    var(--tertiary-color),
    var(--primary-color),
    var(--tertiary-color)
  );
  z-index: -1;
}

.homeContainer .textSection .linkToExperience:hover::after {
  animation: 3s rotateGradient linear infinite;
}

.homeContainer .textSection .linkToExperience img {
  width: 24px;
  aspect-ratio: 1/1;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

.homeContainer .textSection .linkToExperience:hover img {
  transform: rotate(0);
}

.homeContainer .serviceSection .imageContainer,
.homeContainer .contactSection .imageContainer {
  width: fit-content;
  border-radius: 200px;
  background: linear-gradient(132deg, #202020 16%, #0b0b0b 73%);
  padding: 20px;
}

.homeContainer .serviceSection .imageContainer img,
.homeContainer .contactSection .imageContainer img {
  width: 24px;
  aspect-ratio: 1/1;
}

.homeContainer .serviceSection .text,
.homeContainer .contactSection .text {
  font-size: 18px;
  color: #666;
  width: 360px;
}

.homeContainer .serviceSection,
.homeContainer .contactSection {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 20px;
}

.homeContainer .serviceSection {
  left: 4vw;
}

.homeContainer .contactSection {
  margin-left: auto;
  margin-right: 4vw;
  text-align: end;
}

@media (max-width: 768px) {
  .homeContainer {
    gap: 40px;
  }

  .homeContainer .textSection {
    gap: 10px;
  }

  .homeContainer .textSection h1 {
    font-size: 20px;
  }

  .homeContainer .textSection p {
    font-size: 14px;
  }

  .homeContainer .textSection .linkToExperience {
    gap: 10px;
    margin: 24px auto;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 4px;
  }

  .homeContainer .textSection .linkToExperience::after {
    border-radius: 5px;
    height: 112%;
  }

  .homeContainer .textSection .linkToExperience img {
    width: 20px;
  }

  .homeContainer .serviceSection .imageContainer,
  .homeContainer .contactSection .imageContainer {
    padding: 16px;
  }

  .homeContainer .serviceSection .imageContainer img,
  .homeContainer .contactSection .imageContainer img {
    width: 18px;
  }

  .homeContainer .serviceSection .text,
  .homeContainer .contactSection .text {
    font-size: 14px;
    width: 260px;
  }

  .homeContainer .serviceSection,
  .homeContainer .contactSection {
    gap: 16px;
  }
}

@media (max-width: 426px) {
  .homeContainer {
    gap: 30px;
  }

  .homeContainer .textSection {
    gap: 8px;
  }

  .homeContainer .textSection h1 {
    font-size: 16px;
  }

  .homeContainer .textSection p {
    font-size: 12px;
  }

  .homeContainer .textSection .linkToExperience {
    gap: 8px;
    margin: 12px auto;
    padding: 6px 16px;
    font-size: 12px;
  }

  .homeContainer .textSection .linkToExperience::after {
    height: 107%;
  }

  .homeContainer .textSection .linkToExperience img {
    width: 18px;
  }

  .homeContainer .serviceSection .imageContainer,
  .homeContainer .contactSection .imageContainer {
    padding: 12px;
  }

  .homeContainer .serviceSection .imageContainer img,
  .homeContainer .contactSection .imageContainer img {
    width: 14px;
  }

  .homeContainer .serviceSection .text,
  .homeContainer .contactSection .text {
    width: 260px;
  }

  .homeContainer .serviceSection,
  .homeContainer .contactSection {
    gap: 12px;
  }

  .homeContainer .contactSection{
    margin-top: 20px;
  }
}

@media (max-width: 376px) {
  .homeContainer .textSection p {
    width: 90%;
  }

  .homeContainer .textSection .linkToExperience {
    padding: 6px 12px;
  }

  .homeContainer .textSection .linkToExperience::after {
    height: 112%;
    width: 102%;
  }

  .homeContainer .serviceSection .text,
  .homeContainer .contactSection .text {
    width: 240px;
  }
}
